body {
    background-image: url(desktop.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.implementation {
    position: absolute;
    top: 25px;
    padding: 10px;
    background-color: #eee;
    font-weight: bold;
    border-radius: -2px;
    left: 320px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(189,189,189,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(189,189,189,1);
    box-shadow: 2px 3px 5px 0px rgba(189,189,189,1);
}